#main {
    background-color: whitesmoke;
    width: 90%; 
    text-align: center;
    border-radius: 30px;
}
.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}
