#qna {
    display:none;
}

.qBox {
    
    background-color: whitesmoke;
    text-align: center;
    border-radius: 30px;
    font-size: 18px;
    width: 90%;
}

.answerList {
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    width: 90%;
    border: 0px;
}

    .answerList:hover, .answerList:focus {
        background-color: rgb(83, 46, 19);
        color: whitesmoke;
    }

/* 상태바 */
.status {
    height: 20px;
    width: 90%;
    background-color: rgb(253, 226, 154);
    border-radius: 20px;
}

.statusBar {
    height: 100%;
    border-radius: 20px;
    background-color: rgb(83, 46, 19);
}
